<footer class="site-footer page-footer darken-1">
  <div class="container">
    <div class="row" style="margin-left: 0px;margin-right: 0px;">
      <div class="col l6 s12">
        <h5 class="white-text">ข้อมูลการติดต่อ</h5>
        <div class="grey-text text-lighten-4">
          คณะวิทยาศาสตร์ มหาวิทยาลัยศิลปากร วิทยาเขตพระราชวังสนามจันทร์ อ.เมือง จ.นครปฐม 73000
        </div>
        <div class="grey-text text-lighten-4">
          <i class="mdi-maps-local-phone"></i> (034) 245-300
        </div>
        <div class="grey-text text-lighten-4">
          <i class="mdi-communication-email"></i> phanchat_n@silpakorn.edu
        </div>
      </div>
      <div class="col l3 offset-l3 s12">
        <h5 class="white-text">เว็บไซต์ที่เกี่ยวข้อง</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="http://www.sc.su.ac.th/">คณะวิทยาศาสตร์</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="http://www.dpstcenter.org/">พสวท.</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="http://www.ipst.ac.th/">สสวท.</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container" style="padding-left:10px;padding-right:10px;">
      © 2015 DPST & SAST | Silapakorn University
      <a class="grey-text text-lighten-4 right" href="#" id="site-bottom-to-top-btn"><i class="mdi-hardware-keyboard-arrow-up" style="font-size:36px;"></i></a>
    </div>
  </div>
</footer>
