<header class="site-header navbar-fixed">
  <nav id="page-nav">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo header-brand-logo" >
          <div style="display: inline-block;">
            <img src="/images/theme/su-green.png" class="responsive-img" style="height: 44px;width: 44px;">
          </div>
          <div style="display: inline-block;vertical-align: top;">
            โครงการพสวท. และทุนเรียนดีฯ<br>
            <span style="font-size: 1.55rem;">ศูนย์มหาวิทยาลัยศิลปากร</span>
          </div>
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu" style="font-size:32px;margin-left:12px;"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#" class='dropdown-button' data-activates='student-dropdown'>นักศึกษา</a></li>
          <li><a href="#" class='dropdown-button' data-activates='staff-dropdown'>บุคลากร</a></li>
          <li><a href="#" class='dropdown-button' data-activates='alumni-dropdown'>ศิษย์เก่า</a></li>
        </ul>
        <ul id='student-dropdown' class='dropdown-content'>
          <li><a href="/student/1.html">ชั้นปีที่ 1</a></li>
          <li><a href="/student/2.html">ชั้นปีที่ 2</a></li>
          <li><a href="/student/3.html">ชั้นปีที่ 3</a></li>
          <li><a href="/student/4.html">ชั้นปีที่ 4</a></li>
          <li class="divider"></li>
          <li><a href="/student/post.html">บัณฑิตศึกษา </a></li>
        </ul>
        <ul id='alumni-dropdown' class='dropdown-content'>
          <li><a href="/student/sc40.html">รุ่น SC40</a></li>
          <li><a href="/student/sc39.html">รุ่น SC39</a></li>
          <li><a href="/student/sc38.html">รุ่น SC38</a></li>
        </ul>
        <ul id='staff-dropdown' class='dropdown-content'>
          <li><a href="/staff/teacher.html">อาจารย์</a></li>
          <li><a href="/staff/officer.html">เจ้าหน้าที่</a></li>
          <li><a href="/staff/coordinator.html">ผู้ประสานงาน</a></li>
        </ul>
        <ul class="side-nav side-nav-mobile" id="mobile-demo">
          <li>
          <div style="display: inline-block;">
            <img src="/images/theme/su-green.png" class="responsive-img" style="height: 44px;width: 44px;">
          </div>
            <div class="center" style="width:calc( 100% - 44px);color:black;display: inline-block;vertical-align: top;font-family: 'silpakorn70newregular';line-height:1.2rem;margin-top:10px;">
              <span style="font-size:1.3rem;">โครงการพสวท. และทุนเรียนดีฯ</span><br>
              <span style="font-size: 1.55rem;">ศูนย์มหาวิทยาลัยศิลปากร</span>
            </div>
          </li>
          <li><a class="menu-item" href="#">นักศึกษา</a></li>
          <li><a class="menu-subitem" href="/student/1.html">ชั้นปีที่ 1</a></li>
          <li><a class="menu-subitem" href="/student/2.html">ชั้นปีที่ 2</a></li>
          <li><a class="menu-subitem" href="/student/3.html">ชั้นปีที่ 3</a></li>
          <li><a class="menu-subitem" href="/student/4.html">ชั้นปีที่ 4</a></li>
          <li><a class="menu-subitem" href="/student/post.html">บัณฑิตศึกษา</a></li>
          <li><a class="menu-item" href="#">บุคลากร</a></li>
          <li><a class="menu-subitem" href="/staff/teacher.html">อาจารย์</a></li>
          <li><a class="menu-subitem" href="/staff/officer.html">เจ้าหน้าที่</a></li>
          <li><a class="menu-subitem" href="/staff/coordinator.html">ผู้ประสานงาน</a></li>
          <li><a class="menu-item" href="#">ศิษย์เก่า</a></li>
          <li><a class="menu-subitem" href="/student/sc40.html">รุ่น SC40</a></li>
          <li><a class="menu-subitem" href="/student/sc39.html">รุ่น SC39</a></li>
          <li><a class="menu-subitem" href="/student/sc38.html">รุ่น SC38</a></li>
        </ul>
      </div>
    </nav>
</header>
