<div class="cover-image parallex-fade valign-wrapper parallax-container">
  <div class="parallax"><img src="{{ site.data.theme.cover_image }}"/></div>
  <div class="valign center">
    <h1 class="wow fadeInUp">โครงการพสวท. และทุนเรียนดีฯ</h1>
    <h3 class="wow fadeInUp">ศูนย์มหาวิทยาลัยศิลปากร</h3>
  </div>
  <div id="goToInformation" style="position:absolute;bottom:0;width:100%;left:0px;cursor: pointer;" class="center wow fadeInUp">
    <i class="mdi-hardware-keyboard-arrow-down" style="font-size:36px;"></i>
  </div>
</div>
