<div id="landing-information" class="white" style="overflow:hidden">
  <div class="container">
    <div class="center wow fadeInUp"><h2>รู้จักกับ</h2></div>
    <div class="row">
      <div class="col l6 m6 s12">
        <div class="center wow fadeInLeft">
          <h3>โครงการ พสวท.</h3>
          <p>เพื่อพัฒนาผู้มีความสามารถพิเศษทางวิทยาศาสตร์และเทคโนโลยี สำหรับการวิจัยและพัฒนา ประดิษฐ์ คิดค้น และเผยแพร่ผลงานทางวิทยาศาสตร์และเทคโนโลยี ที่เป็นประโยชน์ต่อการพัฒนาประเทศ</p>
          <a class="btn waves-effect waves-light teal lighten-1" href="/about/dpst.html">
            เกี่ยวกับโครงการ พสวท.
          </a>
        </div>
      </div>
      <div class="col l6 m6 s12 wow fadeInRight">
        <div class="center">
          <h3>ทุน เรียนดีฯ</h3>
          <p>เพื่อสรรหานักเรียนระดับมัธยมศึกษาตอนปลายที่มีผลการเรียนดีและสนใจทางด้านวิทยาศาสตร์เข้าศึกษาในคณะวิทยาศาสตร์ ช่วยส่งเสริมการผลิตบัณฑิตระดับปริญญาตรีด้านวิทยาศาสตร์ให้มีคุณภาพในระดับสากล</p>
          <a class="btn waves-effect waves-light teal lighten-1" href="/about/sast.html">
            เกี่ยวกับทุน เรียนดีฯ
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
