<div id="landing-event">
  <div class="container">
    <div class="center"><h2>กิจกรรม</h2></div>
    <div class="row">
      {% for post in site.categories.event limit:3 %}
      <div class="col l4 m12 s12">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="card waves-effect waves-dark">
            {% if post.image %}
            <div class="card-image">
              <img src="{{post.image}}">
              <span class="card-title">{{post.title}}</span>
            </div>
            {% endif %}
            <div class="card-content">
              {% if post.image %}
              {% else %}
              <span class="card-title">{{post.title}}</span>
              {% endif %}
              <p style="color:#444">{{post.summary}}</p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="center">
    <a class="btn-flat waves-effect waves-dark" style="color:#444;border-color:#444;border-style:solid;border-width:1px;" href="/event">
      ดูกิจกรรมทั้งหมด
    </a>
  </div>
</div>
