<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<link rel="canonical" href="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:locale" content="th_TH" />
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:url" content="{{ page.url | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
{% if page.summary != null %}
<meta property="og:type" content="article" />
<meta property="article:published_time" content="{{page.date}}" />
<meta property="article:modified_time" content="{{site.time}}" />
{% else %}
<meta property="og:type" content="website" />
{% endif %}
<meta property="og:updated_time" content="{{site.time}}" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}"/>
<meta name="twitter:domain" content="{{ site.title }}"/>
{% if page.image != null %}
<meta property="og:image" content="{{ page.image | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}" />
<meta name="twitter:image:src" content="{{ page.image | replace:'/index.html','/' | prepend: site.baseurl | prepend: site.url }}"/>
{% else %}
<meta property="og:image" content="{{ '/images/theme/og-image.jpg' | prepend: site.baseurl | prepend: site.url }}" />
<meta name="twitter:image:src" content="{{ '/images/theme/og-image.jpg' | prepend: site.baseurl | prepend: site.url }}"/>
{% endif %}
{% comment %}
<meta property="article:publisher" content="http://www.facebook.com/daydevthailand" />
<meta property="article:author" content="http://www.facebook.com/banyapon" />
<meta property="article:tag" content="cardboard" />
<meta property="article:section" content="Developer" />
<meta property="fb:admins" content="625532477" />
<meta name="twitter:site" content="@daydev"/>
<meta name="twitter:creator" content="@daydev"/>
{% endcomment %}
